/*@Author Hugo Donkerbroek*/

body, html {
    height: 100%;
}

html {
    position: relative;
    /*min-height: 100%;*/
}

body {
    font-family: "Lato", sans-serif;
    background: ghostwhite;
    margin-bottom: 60px;
}

.page-header {
    margin: 0;
    background: rgb(10,10,15);
    padding-bottom: 20px;
}

.footer {
    position: absolute;
    width: 100%;
    height: 60px;
    background-color: #343a40;
}

.banner-image{
    background-image: url('../images/food.png');
    height: 50%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-size: cover;
    position: relative;
    margin: 0;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}