/*@Author Hugo Donkerbroek*/

@media screen and (min-width: 576px){
    .navbar {
        height: 60px;
    }
}

.navbar {
    background-color: #343a40;
    font-size: 20px;
}

@keyframes FadeIn {
    0% {
        opacity: 0;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }


    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        pointer-events: auto;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.navbar-nav li {
    animation: FadeIn 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-fill-mode: both;
}

.navbar-nav li:nth-child(1) {
    animation-delay: .2s;
}

.navbar-nav li:nth-child(2) {
    animation-delay: .4s;
}

/* Animation */

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 20px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 20px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.nav-item::after{content:'';display:block;width:0px;height:2px;background:rgb(255, 110, 25);transition: 0.2s;}
.nav-item:hover::after{width:100%;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:rgb(255, 110, 25);}
.nav-link{padding:15px 5px;transition:0.2s; outline: none;}
.dropdown-item.active, .dropdown-item:active{color:rgb(255, 110, 25);}
.dropdown-item:focus, .dropdown-item:hover{background:rgb(255, 110, 25)}

.dropdown-item{z-index: 2; position: relative}
.dropdown-menu{z-index: 2; position: relative}
.dropdown-divider{z-index: 2; position: relative}

